.Conf-Page-Title {
  font-size: 26px;
  height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Conf-Page-Org {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Conf-Page-Extra {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Time-Section {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.219);
  margin: 15px 0px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.459);
}
.Conf-Split {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.Flex-Col {
  display: flex;
  flex-direction: column;
  width: 79%;
  padding: 7px;
  padding-left: 15px;
  line-height: 25px;
}
.Time {
  width: 20%;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.205);
}

.Conf-Sec-Title {
  color: #376831;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Conf-Speaker {
  color: #376831;
  font-size: 13px;
  line-height: 14px;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 16px;
}
.Conf-Cred {
  margin-left: 40px;
  font-size: 11px;
  line-height: 14px;
  font-style: italic;
}
.Conf-Bullet {
  font-size: 13px;
  color: black;
  line-height: 14px;
  margin-top: 16px;
}
.Conf-Break {
  font-size: 13px;
  color: black;
  font-weight: bold;
  margin-top: 6px;
}
