.App {
  background-color: #ecf7cc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  max-width: 1600px;
  margin: auto;
}
.Main-Section {
  display: flex;
  flex-direction: row;
  background: #efefde;
  width: 98%;
  padding: 1%;
  padding-top: 0%;
}
