.App {
  background-color: #ecf7cc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  margin: auto;
}
.Main-Section {
  display: flex;
  flex-direction: row;
  background: #efefde;
  width: 98%;
  min-height: 61vh;
  padding: 0px 1%;
  padding-top: 0%;
}

.Outer-Body {
  display: flex;
  flex-direction: row;
  min-height: 30vh;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.UpcomingConf {
  display: flex;
  width: 28%;
  margin-left: 15%;
  padding-top: 10px;
  background: #ecf7cc;
  color: #376831;
  font-family: "Sakkal Majalla";
  font-size: 24px;
}

.Body-Right {
  display: flex;
  flex-direction: column;
  margin-left: 6%;
  margin-right: 6%;
  padding-top: 35px;
  width: 45%;
  text-align: left;
  font-family: "Verdana";
  font-weight: 500;
  line-height: 15px;
  font-size: 14px;
  letter-spacing: 0.4pt;
}

h1 {
  font-family: "Sakkal Majalla";
  font-size: 38px;
  color: #376831;
}

@media all and (max-width: 700px) {
  .Outer-Body {
    flex-direction: column;
    width: 100%;
    min-height: 10vh;
  }
  .Body-Right {
    width: 96%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 2%;
  }
  .UpcomingConf {
    width: 100%;
    margin: 0;
    order: 2;
    margin-bottom: 10px;
  }
}
